body {
    font-family: sans-serif;
    margin: 0;
    background: #111827;
    color: white;
}

header {
    text-align: center;
    padding: 30px;
    background: #1f2937;
}

.contact-container {
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.info {
    max-width: 300px;
}

.form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin: 10px;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background: #22c55e;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.flash-message{
    position:fixed;
    top:20px;
    right:20px;
    background:#22c55e;
    color:white;
    padding:15px 25px;
    border-radius:10px;
    font-size:16px;
    font-weight:600;
    box-shadow:0 5px 15px rgba(0,0,0,0.3);

    opacity:0;
    transform:translateY(-20px);

    animation:showFlash 0.5s forwards;
    z-index:9999;
}

@keyframes showFlash{

    to{
        opacity:1;
        transform:translateY(0);
    }

}