<!DOCTYPE html>
<html>
<head>
  <title>Case Folder</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='folder.css') }}">
</head>
<body>

<h1>📁 CASE-{{ complaint[0] }}</h1>

<div class="case-card">
  <h2>{{ complaint[4] }}</h2>

  <p><b>Victim:</b> {{ complaint[1] }}</p>
  <p><b>Phone:</b> {{ complaint[2] }}</p>
  <p><b>Email:</b> {{ complaint[3] }}</p>
  <p><b>Category:</b> {{ complaint[5] }}</p>
  <p><b>Date:</b> {{ complaint[6] }}</p>
  <p><b>Time:</b> {{ complaint[7] }}</p>
  <p><b>Description:</b> {{ complaint[8] }}</p>
  <p><b>Risk:</b> {{ complaint[9] }}</p>
  <p><b>Status:</b> {{ complaint[10] }}</p>
</div>

<div class="case-card">
  <h3>Upload Evidence</h3>

  <form action="/upload-evidence/{{ complaint[0] }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="pdf_file" accept=".pdf,.png,.jpg,.jpeg" required>
    <button type="submit">Upload Evidence</button>
  </form>
</div>

<div class="case-card">
  <h3>Evidence Files</h3>

  <div class="evidence-grid">
    {% for file in evidence %}
  <div class="evidence-card">

    {% set clean_path = file[2].replace('/static/', '') %}

    {% if file[3] in ['png', 'jpg', 'jpeg'] %}
      <img src="{{ url_for('static', filename=clean_path) }}" width="160">
      <p>{{ file[1] }}</p>
      <img src="/evidence/{{ file[1] }}" width="160">
      <a href="/evidence/{{ file[1] }}" target="_blank">Open Image</a>
    {% else %}
      <div class="pdf-icon">📄</div>
      <p>{{ file[1] }}</p>
      <a href="/evidence/{{ file[1] }}" target="_blank">Open PDF</a>
    {% endif %}

  </div>
{% endfor %}
  </div>
</div>

<a href="/case">⬅ Back to Cases</a>

</body>
</html>