body {
    margin: 0;
    font-family: Arial;
    background: linear-gradient(135deg, #1e3a8a, #3b82f6);
}

/* CENTER CONTAINER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* LOGIN BOX */
.login-box {
    background: white;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.login-box h2 {
    margin-bottom: 20px;
}

/* INPUT */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background: #1e3a8a;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}

a {
    color: #1e3a8a;
    text-decoration: none;
}