<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Ransomware Report</title>

<link rel="stylesheet" href="{{ url_for('static', filename='ransomware.css') }}">

</head>
<body>
   {% with messages = get_flashed_messages() %}
{% if messages %}
<div id="flashMessage" class="flash-message">
    {{ messages[0] }}
</div>
{% endif %}
{% endwith %}

<div class="container">

    <div class="form-box">

        <h1>Ransomware / Hacking Report</h1>

        <p class="subtitle">
            Report ransomware attacks, malware and hacking incidents.
        </p>

        <form action="/ransomware_report" method="POST" enctype="multipart/form-data">

            <div class="grid">

                <div class="input-group">
                    <label>Organization Name</label>
                    <input type="text" name="name">
                </div>

                <div class="input-group">
                    <label>Contact Email</label>
                    <input type="email" name="email">
                </div>

                <div class="input-group">
                    <label>IP Address</label>
                    <input type="text" name="ip">
                </div>

                <div class="input-group">
                    <label>Operating System</label>
                    <input type="text" name="os">
                </div>

                <div class="input-group full">
                    <label>Attack Description</label>

                    <textarea rows="6" name="description"></textarea>
                </div>

                <div class="input-group">
                    <label>Upload Evidence</label>
                    <input type="file" name="evidence">
                </div>

            </div>

            <button type="submit" class="btn">
                Submit Report
            </button>

        </form>

    </div>

</div>
<script>

setTimeout(() => {

    const flash = document.getElementById("flashMessage");

    if(flash){
        flash.style.display = "none";
    }

}, 3000);

</script>

</body>
</html>