* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #193964;
  color: #222;
}

.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.card {
  max-width: 650px;
  background: white;
  padding: 35px;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

h1 {
  color: #1f4e79;
}

h2 {
  margin-top: 25px;
}

li {
  margin: 10px 0;
}

button {
  margin-top: 20px;
  padding: 12px 20px;
  border: none;
  background: #1f4e79;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  cursor: pointer;
}